@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600&family=Rubik:wght@300&family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&family=Merienda:wght@400;500;600&family=Rubik:wght@300&family=Space+Grotesk:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

*{
 margin: 0 ; 
 box-sizing: border-box;
}

[data-theme="dark"] {
  background-color: #1F2937;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  color: #fff !important;
}
.container{
  width: 800px;
  margin: 0 auto;
  font-family: Lexend Exa;
}
a{
  text-decoration: none;
  color: #808080;
}
[data-theme= "color-withe"]{
  color: #fff !important;
}

.header{
  display: flex;
  padding-top: 20px;
}
.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.header img{
  width: 50px;
  border-radius: 50%;
  transition: transform 1s ease-in-out;
  margin-right: 10px;
}
.header img:hover{
  transform: rotate(360deg);
  cursor: pointer;
}

.info{
  font-size: 20px;
  line-height: 28px;
}
.info p{
  margin-bottom: 20px;
}
.links{
  margin-bottom: 70px;
}
.links a{
  margin-right: 10px;
  text-decoration: underline rgba(128, 128, 128, 0.635);
  font-weight: 600;
  color: #000;
}
.links a:nth-child(3){
  margin-left: 10px;
}
.links a:hover{
  background-color: rgba(128, 128, 128, 0.157);
  transition: .4s;  
}

.titulo{
  margin: 20px 0;
}

.proyectos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.proyecto{
  width: 49%;
  margin-bottom: 40px;
}
.proyecto h3{
  margin: 13px 0;
}
.proyecto h3 span{
  color: gray;
  font-size: 15px;
}
/* .proyecto:hover{
  background-color: red;
  transition: .4s;  
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.501);
  border-radius: 10px;
} */
.proyecto img{
  width: 100%;
  border-radius: 10px;
}
.iconos{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icono img{
  width: 30px;
  height: 30px;
  margin: 10px 0;
}
.links2{
  display: flex;
  width: 100%;
}
.links2-inner{
  width: 100%;
  display: flex;
  align-items: center;
}

.links2-inner img{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.formulario{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.formulario label{
  margin-bottom: 5px;
}
.formulario input{
  margin-bottom: 20px;
  height: 30px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}
[data-theme="input-dark"]{
  background-color: #2a3441 !important;
  color: #fff !important;
}
.formulario textarea{
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}
.btn-container{
  display: flex;
  justify-content: center;
}
.formulario button{
  margin-top: 20px;
  background-color: #f2f2f2;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 200px;
}
[data-theme="btn-dark"]{
  background-color: #2a3441 !important;
  color: #fff !important;
}
.formulario button:hover{
  cursor: pointer;
  border: 1px solid;
}



/*  TOGGLE */
.toggle-container {
  position: absolute;
  top: 2em;
  right: 20em;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
}

.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
  color: #1F2937 !important;

}

.toggle + label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
  color: #1F2937 !important;

}

.toggle:checked + label::after {
  transform: translateX(100%);
  color: #1F2937 !important;
}
.daynight-img img{
  width: 25px;
}

.footer{
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .container{
    width: 100%;
    padding: 20px;
  }
  .toggle-container {
    top: 2em;
    right: 0em;
  }
  .proyecto{
    width: 100%;
    margin-bottom: 40px;
  }

  .perfil{
    font-size: 12px;
  }
  }

