:root{
    /* --background-color: #f6f6f6;
    --foregraound-color: #003cff;
    --primary-color-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000; */
    --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

